@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');

body {
    margin: 0;
}

.header {
    background-image: url("./background2.jpg");
    background-repeat: no-repeat;
    opacity: 95%;
    background-size: cover;
    height: 460px;
    width: 100%;
    color: white;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.icon-links-container {
    display: flex;
    position: absolute;
    top: 48px;
    right: 50px;
}

.icon-links-header {
    padding-right: 5px;
    margin-right: 5px;
}

.icon-header {
    width: 40px;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 202px;
    Position: absolute;
    top: 121px;
    left: 24px;
}

.name-class {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    align-items: center;
}

.portfolio {
    font-weight: 400;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4%;
    font-size: 13px;
    margin-bottom: 0;
}

.sofia-name {
    font-weight: 700;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4%;
    margin-bottom: 2px;
}

.job-title-1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 2px;
}

.job-title-2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 0;
}

.previous-job-title {
    font-size: 20px;
    margin: 10px 0 0 0;
}

.profile-picture {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 300px;
    right: 50px;
}

/* Styling summary section*/

.summary-section {
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    padding: 90px 30px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.red-line {
    display: inline-block;
    width: 50px;
    height: 5px;
    border-top: 3px solid #008571;
}  

.red-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #008571;
    background-color: #008571;
    margin-right: 10px;
    margin-left: -5px;
    border-radius: 50%;
}

.summary-section-text {
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
}

/* Styling tech section */
.tech-section {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 30px 0 30px 0;
}

.tech-header {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color:#008571;
    text-align: center;
    padding: 5px;
    max-width: 80px;
    margin: 20px auto;
}

.tech-text {
    margin-top: 25px;
    width: 70%;
    margin: 50px auto;
}

.highlighted-text {
    color:#008571;
    font-weight: bold;
}

/* Styling featured project section */

.featured-projects-container {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    padding: 30px 0 30px 0;
}

.featured-projects-header {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color:#008571;
    text-align: center;
    padding: 5px;
    max-width: 280px;
    margin: 20px auto;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    font-weight: 300;
    margin: 30px auto;
}

.project-card-link {
    text-decoration: none;
    color: black;
}

.project-card-img-text {
    position: relative;
    width: 100%;
}

.project-img {
    width: 100%;
    height: auto;
}

.img-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.project-card-img-text:hover .img-overlay {
    opacity: 0;
  }

.img-overlay-text {
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    top: 30%;
    left: 25%;
    right: 25%;
    font-family: 'Roboto', sans-serif;
}

.project-title {
    color: #008571;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 15px 0 0 0;
}

.project-text {
    margin: 10px 0 10px 0;
}

.arrow {
    color: #00917c;
    font-weight: bold;
    font-size: 20px;
}

.technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.technologies p {
    margin: 5px 10px 10px 0;
    background-color:#c5d7bd;
    width: fit-content;
    font-weight: 300;
    padding: 4px;
}

/* STYLING OTHER PROJECTS SECTION */

.other-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 0 30px 0;
}

.other-projects-header {
    color: white;
    background-color:#008571;
    text-align: center;
    padding: 5px;
    max-width: 240px;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
}

.other-projects-list {
    display: flex;
    padding-left: 20px;
    margin-bottom: 20px;
    width: 70%;
    margin: 20px auto;
}

.projects-list {
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.projects-list p {
    margin-bottom: 5px;
}

/* Styling My thoughts section */
.my-thoughts-section {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: whitesmoke;
    padding: 30px 0 30px 0;
}

.my-thoughts-header {
    color: white;
    background-color:#008571;
    padding: 5px;
    max-width: 240px;
    margin: 20px auto;
}

.my-thoughts-text {
    padding: 20px;
    width: 70%;
    margin: 20px auto;
    font-weight: 300;
}

/* Styling skills section */
.skills-section {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding: 30px 0 30px 0;
}

.skills-header {
    color: white;
    background-color:#008571;
    text-align: center;
    padding: 5px;
    max-width: 240px;
    margin: 20px auto;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

.skills-box {
    flex-direction: column;
    text-align: center;
    width: 35%;
    height: auto;
}

.skills-box > ul {
    list-style: none;
    padding: 0;
}

.skills-box > li {
    list-style: none;
    font-weight: 300;
}

.skills-category {
    color:#00917c;
    font-family: 'Roboto', sans-serif;
}

/* Styling for more section */
.for-more-section {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    padding: 30px 0 30px 0;
}

.for-more-header {
    color: white;
    text-align: center;
    background-color:#008571;
    padding: 5px;
    max-width: 240px;
    margin: 20px auto;
}

.for-more-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0 30px 0;
} 

.icon-links {
    margin: 30px;
}

.for-more-icons {
    color: black;
}

/* Styling Footer */
.footer {
    background-color: #008571;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 0 30px 0;
}

.footer-contact{
    font-size: 26px;
    font-weight: bold;
}

.address-section {
    font-style: normal;
}

.address-section > a {
    text-decoration: none;
    color: black;
}

/* Media Queries */

/*For tablet*/
@media (min-width: 768px) and (max-width: 991px){
    .header {
        height: 550px;
    }

    .icon-links-container {
        top: 70px;
        right: 70px;
    }
    
    .icon-header {
        width: 64px;
        height: 64px;
    }
    
    .header-text-container {
        width: 300px;
        height: 200px;
        top: 140px;
        left: 120px;
    }
    
    .portfolio, .sofia-name {
        font-size: 16px;
    }
    
    .job-title-1, .job-title-2 {
        font-size: 55px;
        line-height: 50px;
    }
    
    .previous-job-title {
        font-size: 20px;
    }

    .profile-picture {
        width: 220px;
        height: 220px;
        object-fit: cover;
        top: 350px;
        right: 70px;
    }
    
    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project-card {
        width: 300px;
        margin: 30px;
    }

    .project-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .skills-container {
        margin: 20px 40px 0 40px;
    }

    .skills-box {
        width: 30%;
    }
}

/* For desktop */
@media (min-width: 992px) {
    .header {
        height: 620px;
    }

    .icon-links-container {
        top: 70px;
        right: 100px;
    }
    
    .icon-header {
        width: 64px;
    }
    
    .header-text-container {
        width: 500px;
        height: 300px;
        top: 140px;
        left: 200px;
    }
    
    .portfolio, .sofia-name {
        font-size: 20px;
    }
    
    .job-title-1, .job-title-2 {
        font-size: 82px;
        line-height: 78px;
    }
    
    .previous-job-title {
        font-size: 30px;
    }
    
    .profile-picture {
        width: 250px;
        height: 250px;
        object-fit: cover;
        top: 400px;
        right: 100px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project-card {
        width: 400px;
        margin: 30px;
    }
    
    .project-img {
        width: 100%;
        height: 250px;
    }

    .skills-container {
        margin: 20px 40px 0 40px;
    }

    .skills-box {
        width: 30%;
    }
}

