@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap');


body{
scroll-behavior: smooth;
margin: 0;
}

h1, p {
    margin:0;

}

header {
    background-image:url(https://images.unsplash.com/photo-1472120435266-53107fd0c44a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80) ;
    background-size:cover;
    height:460px;
    width:100vw;
    font-family: 'montserrat', sans-serif;
    /* margin: 20px; */
    
}

.header-social-section {
    display:block;
    
}

.socials-container {
    display:flex;
    justify-content: right;
    padding: 2em 1em 0 0;
}

.socials-container img {
    height:2em;
    width:2em;
}

.header-text-container {
    display:flex;
    flex-direction: column;
    padding-left: 2em;
    padding-top: 5em;
}

.header-picture-container {
    width:180px;
    height:188px;
    padding-top: 2em;
    padding-left: 10em;   

}

.profilepicture {
height:180px;
border-radius: 50%;
border:2px solid white;

}

.summary-section-container {
    padding-top: 2em;
    width:100%;
    height:auto;
    padding:90px 30px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
}


.line {
    border: 1px solid #d45339;
    width: 40px;
    display: inline-block;
    margin-bottom: 4px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #d45339;
    border-radius: 50%;
    display: inline-block;
}


.tech-heading {
    font-family: 'Roboto', sans-serif;
    background-color: #d45339;
    text-align: center;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
    max-width: 80px;
    margin:20px auto;
}

.tech-section {
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight: 300;
    text-align: center;
    padding: 0 30px 30px 30px;
}





.projects-section:nth-child(2n) {
    background-color: #f4f4f4;
}

.projects-container {
width: 320px;
margin: 0 auto;
font-family: 'Montserrat', sans-serif;
}

.projects-heading-container {
    display:flex;
    justify-content: center;
}

.projects-heading {
    background-color: #d45339;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 3px;
    margin-bottom:20px;
    margin-top:30px;
    font-family:'Montserrat', sans-serif;
}

.project-h2 {
    color:#d45339;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

.project-text {
    margin: 10px 0 10px 0;
}

.code {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.code span {
    margin: 5px 10px 10px 0;
    background-color:#d45339;
    color: white;
    width: fit-content;
    font-weight: 300;
    padding: 4px;
}

.other-project-container {
   padding-left: 20px; 
   
}

.op-code{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 2em;
    color: white;
    
}

.op-code p {
    margin: 5px 10px 10px 0;
    background-color:#d45339;
    width: fit-content;
    font-weight: 300;
    padding: 4px;
}

image-container {
    position:relative;
}

/* .overlay {
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(156, 166, 197, 0.5);
} */

.image {
    width: 100%;
    display:block;
}

.other-project-header {
    color:#d45339;
    text-align: center;
    padding:5px;
    max-width: 240px;
    margin:20px auto;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.my-thoughts-header{
    background-color:#d45339;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
    max-width: 180px;
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
}

/* Do mediaqueries for desktop and tablet*/
#my-thoughts-code-two{
    display:none;
    
}

/* .my-thoughts-text-two {
    display:none;
    
} */

.being-scared {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.being-scared-p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.more-thoughts-header-container{
    margin-top:3em;
}

.more-thoughts-header { 
    color: #d45339;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 1em;
}

.mt-small-text {
    text-align: center;
    text-decoration: underline;
}

.mt-small-text p {
    margin-top:0.5em;
    
}

.color-text {
    color: #d45339;
}

.skills-section {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
    flex-wrap: wrap;
    padding: 30px 0 30px 0;
}

.skills-header {
    color: white;
    background-color:#d45339;
    text-align: center;
    padding: 5px;
    max-width: 240px;
    margin: 20px auto;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

.skills-box {
    flex-direction: column;
    text-align: center;
    width: 35%;
    height: auto;
}

.skills-box > ul {
    list-style: none;
    padding: 0;
}

.skills-box > li {
    list-style: none;
    font-weight: 300;
}

.skills-category {
    color:#d45339;
    font-family: 'Roboto', sans-serif;
}

.for-more-section {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    padding: 30px 0 30px 0;
}

.for-more-header {
    color: white;
    text-align: center;
    background-color:#d45339;
    padding: 5px;
    max-width: 240px;
    margin: 1em auto;
}

.for-more-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 1em 0;
} 

.icon-links {
    margin: 1em;
}

.icon-links:hover {
    transform: scale(1.1);
}

.for-more-icons{
    width: 4em;
}

.footer {
    background-color:#d45339;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 0 30px 0;
}

.footer-contact{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 2em;
    color: white;
}

.address-section {
    font-weight: bold;
    color: white;
}

.address-section > a {
    text-decoration: none;
    color: white;
}

.tel-nr > a {
    text-decoration: none;
    color: white;
}

/*For tablet*/
@media (min-width: 768px) and (max-width: 991px){
    .header-section {
        height: 480px;
    }

    .socials-container {
        top: 70px;
        right: 70px;

    }

    .socials-container img {
        width: 4em;
        height: 4em;
    }
    
    .header-text-container {
        color:white;
    }
    
    .portfolio, .name {
        font-size: 1em;
        padding-left: 5px;
    }
    
    .frontend, .developer {
        font-size: 4em;
        line-height: 0.9em;
    }
    
    .digital-designer {
        font-size: 1.2em;
        padding-left: 5px;
    }

    .header-picture-container {
        height: 220px;
        padding-top:0px;
        padding-left: 35em;  
    
    }
    
    .summary-section-container {
        width:100%;
        height:auto;
        padding:7em 2.8em;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-size:20px;
    }
    
    .projects-container {
        display:flex;
        flex-wrap: wrap;
        padding:2.5em 0 2.5em 0;
        justify-content: space-evenly;
        width: 100vw;
    }

    article {
        max-width: 45%;
        text-align: center;
    }

    .image{ 
        height: 17em;
        width:17em;
        margin:0 auto;
    }

    .code {
        justify-content: center;
    }

    .project-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .other-project-container p {
        font-size:20px;
    }

    .other-project-title {
        color:#d45339;
    }

    .op-code {
        justify-content: center;
        margin-top: 0.5em;
    }

    .skills-container {
        margin: 20px 40px 0 40px;   
    }

    .skills-box {
        width: 30%;
    }


    .my-thoughts-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #my-thoughts-code-two{
        display:block;
        margin-top: 3em;
    }
    
    .my-thoughts-text-two {
        display:block;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .being-scared{
        font-family:'Roboto', sans-serif;
        text-decoration: underline;
        }

    .being-scared p {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        
    }

    .text-p-container {
        width:45%;
        margin:0 auto;
    }

    .mt-small-text{
        font-size:20px;
    }

}
/* For desktop */
@media (min-width: 992px){
    .header-section {
        height: 600px;
    }

    .socials-container {
       padding-top: 4rem;
       padding-right:4rem;

    }

    .socials-container img {
        width: 4em;
        height: 4em;
    }
    
    .header-text-container {
        color:white;
        padding-top:1em;
        width:-10;
        padding-left: 8em;
    }
    
    .portfolio, .name {
        font-size: 1em;
        padding-left: 5px;
    }
    
    .frontend, .developer {
        font-size: 6em;
        line-height: 0.9em;
    }
    
    .digital-designer {
        font-size: 1.5em;
        padding-left: 5px;
    }

    .header-picture-container {
        padding-top:0;
        padding-left: 80em;  
    }
    
    .profilepicture {
        width: 15em;
        height: 15em;
    }

    .summary-section-container {
        width:100%;
        height:auto;
        padding:7em 2.8em;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        font-size:30px;
        text-align: center;    
    }
    
    .projects-container {
        display:flex;
        flex-wrap: wrap;
        padding:2.5em 0 2.5em 0;
        justify-content: space-evenly;
        width: 100vw;
    }

    article {
        max-width: 50%;
        text-align: center;
    }

    .tech-section-container{
        font-size:20px;
    }

    .tech-section{
        align-items: center;
    }

    .tech-code{
        text-align: center;
        font-size: 16px;
        font-family: 'Montserrat' sans-serif;
        margin: 0 20em 5em 20em;
        
        
    }

    .image{ 
        height: 25em;
        width: 25em;
        margin:0 auto;
    }

    .project-h2 {
        font-size: 24px;
    }

    .project-text{
        font-size: 18px;
        margin: 0 10em 1em 10em;
    }

    .other-projects{
        margin-top: 5rem;
    }

    .code {
        justify-content: center;
    }

    .project-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .other-project-container p {
        font-size:20px;
    }

    .other-project-title {
        color:#d45339;
    }

    .op-code {
        justify-content: center;
        margin-top: 0.5em;
    }

    .skills-container {
        margin: 20px 40px 0 40px;   
    }

    .skills-box {
        width: 30%;
    }

    .my-thoughts-header{
        margin-top: 5em;
        margin-bottom: 5rem;
    }


    .my-thoughts-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #my-thoughts-code-two{
        display:block;
        margin-top: 3em;
    }
    
    .my-thoughts-text-two {
        display:block;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .being-scared{
        font-family:'Roboto', sans-serif;
        text-decoration: underline;
    }

    .being-scared p {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 24px;
        
    }

    .more-thoughts-header{
        margin-top: 5em;
    }

    .text-p-container {
        width:45%;
        margin:0 auto;
    }

    .mt-small-text{
        font-size:20px;
        
        
    }

    .my-name{
        font-size: 24px;
    }

    .tel-nr{
        font-size: 24px;
    }

    .email{
        font-size: 24px;
    }
}